.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup.show {
  display: flex;
}

.popup-inner {
  position: relative;
  padding: 20px;
  width: auto;
  height: auto;
  background: #242424;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(161, 161, 161, 0.5);
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
