.cartContainer {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cartItems {
    display: grid;
    grid-template-columns: 5fr; /* Only one column */
    gap: 20px;
}



.cartFooter {
    margin-top: 20px;
}
