/* Sidebar styling */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items apart */
  height: 100%; /* Full height of its container */
  width: 230px; /* Fixed width */
  background: #f4f4f4;
  padding: 10px;
  box-sizing: border-box; /* Include padding in width/height */
}

/* Navigation styling */
.nav-sidebar {
  flex-grow: 1; /* Allow the nav to grow and take available space */
  overflow-y: auto; /* Add scrolling to nav items if necessary */
}

/* Sidebar bottom link styling */
.sidebar-bottom {
  margin-top: auto; /* Push this element to the bottom */
  padding-top: 20px; /* Optional padding */
  border-top: 1px solid #696969;
}

/* Styling for sidebar items */
.nav-sidebar-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.nav-sidebar-item:hover {
  background: #ddd;
}

/* Optional styles for the image */
.nav-sidebar-img {
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Other CSS for your application */
.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.topbar {
  background: #333;
  color: white;
  padding-left: 30px;
  text-align: left;
  height: 80px;
  box-sizing: border-box; /* Include padding in height calculation */
  width: 100%; /* Full width */
}

.dashboard-content {
  display: flex;
  flex: 1; /* Grow to fill the remaining space */
  overflow: hidden; /* Hide overflow initially */
}

.main-content {
  flex: 1; /* Grow to fill the remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px 20px; /* Reduce padding to bring content closer to the left */
  height: calc(100vh - 80px); /* Adjust height to account for the top bar */
  box-sizing: border-box; /* Include padding in height calculation */
}

/* Forms styling */
.page.create form {
  max-width: 600px;
  margin: 0 auto;
}

.page.create form label {
  display: block;
  margin-bottom: 5px;
}

.page.create form input[type="text"],
.page.create form input[type="number"],
.page.create form textarea,
.page.create form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page.create form textarea {
  resize: vertical;
}

.page.create form button[type="submit"],
.page.create form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page.create form button[type="submit"]:hover,
.page.create form button:hover {
  background-color: #45a049;
}

.page.create form .error {
  color: red;
}
