/* MMMMMMMMMMIIIIIIIIIIIIIIIIIIII CCCCCCCCCCCCSSSSSSSSSSSSSSSSSSSSSSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: #f2f2f2;
}

.page-home {
  margin: auto;
  padding: 20px;
  background-color: #000000;
}

/* index.css or LoginStyles.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa;
  padding: 20px; /* Ensure there's space around the contents */
  box-sizing: border-box;
}

.login-header {
  margin-bottom: 2rem;
  color: #505050; /* Dark grey for the header */
  box-sizing: border-box;
}

.myanchor {
  color: blue;
}

.auth-component {
  width: 100%;
  max-width: 500px; /* Limit the width of the auth form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  background: white; /* White background for the form */
  margin: 0 auto; /* Centering the div if needed */
}

.auth-component h1 {
  text-align: center;
}

.auth-component input {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-component button {
  width: 100%;
  background-color: #4caf50; /* Green color for buttons */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-component button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.render-rifa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.render-rifa p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size: 25px;
}

.render-rifa h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size: 60px;
}

.boletos-grid {
  display: grid;

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  grid-template-columns: repeat(20, 1fr);
  margin: auto;
  width: 80%;
  border: 3px solid black;
  padding: 10px;
  height: 500px;
  overflow: scroll;
}

.numero-boleto {
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
.num-boletos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Makes the button expand to fill the cell */
  height: 100%; /* Makes the button expand to fill the cell */
  padding: 8px 12px; /* Optional: Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Optional: Adds border to buttons */
  background-color: #f7f7f7; /* Optional: Background color for the button */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  overflow: hidden; /* Keeps the content within the button's boundaries */
  white-space: nowrap; /* Ensures the text stays in a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  border-radius: 15px;
}

/* Optional: Add hover effect for better UX */
.num-boletos:hover {
  background-color: #e4e4e4;
}

/* Optional: Adjustments when the button is active */
.num-boletos:active {
  background-color: #000000;
}
.num-boletos:disabled {
  background-color: black;
  color: rgb(0, 0, 0);
  cursor: default; /* Change cursor to default to indicate it's not clickable */
}

/* CSS para login */
/* index.css or LoginStyles.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa; /* Light grey background for softer feel */
  color: #333; /* Soft black for text */
}

.login-header {
  margin-bottom: 2rem;
  color: #505050; /* Dark grey for the header */
  align-items: center;
}

.auth-component {
  width: 100%;
  max-width: 520px; /* Limit the width of the auth form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  background: white; /* White background for the form */
}

.auth-component h1 {
  text-align: center;
}

.auth-component input {
  width: 100%;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.supabase-auth-ui_ui-button {
  padding: 50px;
}

/* CSS HERO HOME */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 760px;
  background-image: url("https://cdhhjbucwspsckbwbwua.supabase.co/storage/v1/object/public/images/Hero-Backgroud%20(1).png");
}

.hero h1 {
  font-size: 90px;
  color: white;
  position: absolute;
  left: 250px;
  top: 150px;
  font-family: "Poppins";
  font-weight: 600;
}

.hero h2 {
  font-size: 36px;
  color: #343a40;
  position: absolute;
  left: 250px;
  top: 350px;
}

.hero button {
  background: #ffa500;
  border: none;
  border-radius: 25px;
  width: 250px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  left: 250px;
  top: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr.solid {
  border: 1px solid #2e2e2e;
  width: 946px;
  position: absolute;
  left: 250px;
  top: 320px;
  opacity: 60%;
}

/* CSS PARA CARRITO */

/*BOLETOS CSS*/

.ticket {
  width: 360px;
  height: 550px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.ticket > aside:first-of-type {
  right: 70px;
}

.ticket > aside:first-of-type,
.ticket > aside:last-of-type {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  bottom: 258px;
  width: 550px;
  z-index: 1000;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 10px;
  z-index: 0;
  font-family: "SEGOE UI BOLD";
  margin: 0;
  padding: 0;
}

.ticket > aside:last-of-type {
  left: 67px;
}

.ticket > section {
  background-color: #fff;
  font-family: "BAHNSCHRIFT";
}

.ticket .ticket__first-section > section:first-of-type > img {
  height: 75px;
  width: auto;
}

.ticket .ticket__first-section {
  margin: 3px 32px;
}

.ticket .ticket__first-section > section:first-of-type {
  padding: 3px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket .ticket__first-section > section:nth-of-type(2) {
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
  padding: 10px;
  font-size: 17px;
  display: flex;
  height: 90px;
}

.ticket .ticket__first-section > section:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  color: red;
  font-weight: 700;
  flex-grow: 1;
  align-items: center;
  font-family: "POPPINS SEMI BOLD";
}

.ticket .ticket__first-section > section:nth-of-type(2) > div > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.ticket .ticket__first-section > ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 10px 0 0;
  height: 172px;
}

.ticket .ticket__first-section > ul > li {
  height: 28px;
  display: flex;
}

.ticket .ticket__first-section > ul > li > p {
  margin: 0;
  font-size: 13px;
}

.ticket .ticket__first-section > ul > li > p:first-of-type {
  width: 75px;
}

.ticket .ticket__first-section > ul > li > p:nth-of-type(2) {
  margin-left: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: red;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "POPPINS SEMI BOLD";
}

.ticket .ticket__first-section > section:first-of-type h4 {
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}

.ticket .ticket__second-section {
  height: 178px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0 32px 3px;
}

.ticket .ticket__third-section {
  margin: 0 32px 3px;
}

.ticket .ticket__third-section > h4 {
  margin: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
}

.ticket .ticket__third-section > button {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #6fcf85;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.rifa-info {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between top-section and bottom-section */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
