


/* MMMMMMMMMMIIIIIIIIIIIIIIIIIIII CCCCCCCCCCCCSSSSSSSSSSSSSSSSSSSSSSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}


.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}


/* smoothie grid */
.rifas-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.rifa-list {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.rifa-list .boletos {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--primary);
  color: #fff;
  border-radius: 6px;
  width:auto;
  height: 0;
  padding: 20px 0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 0px;
  text-align: center;
}

.rifa-list i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}


.render-rifa{
  display: flex;
  flex-direction: column;
  align-items: center;
   
  
}



.render-rifa p{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size: 25px;

}


.render-rifa h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size:60px;
}


.boletos-grid {
  display: grid;

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  grid-template-columns: repeat(20, 1fr);
  margin: auto;
  width: 80%;
  border: 3px solid black;
  padding: 10px;
  height: 500px;
  overflow: scroll;
  
}


.numero-boleto{
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  

  

}
.num-boletos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Makes the button expand to fill the cell */
  height: 100%; /* Makes the button expand to fill the cell */
  padding: 8px 12px; /* Optional: Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Optional: Adds border to buttons */
  background-color: #f7f7f7; /* Optional: Background color for the button */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  overflow: hidden; /* Keeps the content within the button's boundaries */
  white-space: nowrap; /* Ensures the text stays in a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
}

/* Optional: Add hover effect for better UX */
.num-boletos:hover {
  background-color: #e4e4e4;
}

/* Optional: Adjustments when the button is active */
.num-boletos:active {
  background-color: #000000;
}
.num-boletos:disabled {
  background-color: black;
  color: rgb(0, 0, 0);
  cursor: default; /* Change cursor to default to indicate it's not clickable */
}


/* index.css or LoginStyles.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa; /* Light grey background for softer feel */
  color: #333; /* Soft black for text */
}

.login-header {
  margin-bottom: 2rem;
  color: #505050; /* Dark grey for the header */
  align-items: center;
}


.auth-component {
  width: 100%;
  max-width: 520px; /* Limit the width of the auth form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* Subtle shadow for depth */
  background: white; /* White background for the form */
  
}

.auth-component h1 {
  text-align: center;
}

.auth-component input {
  width: 100%;
  

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
}


.supabase-auth-ui_ui-button {
  padding: 50px;
}