/* MMMMMMMMMMIIIIIIIIIIIIIIIIIIII CCCCCCCCCCCCSSSSSSSSSSSSSSSSSSSSSSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: #f2f2f2;
}

.page-home {
  max-width: 1500px;
  margin-left: 300px;
  padding: 20px;
}

/* smoothie grid */
.rifas-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

/* index.css or LoginStyles.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa;
  padding: 20px; /* Ensure there's space around the contents */
  box-sizing: border-box;
}

.login-header {
  margin-bottom: 2rem;
  color: #505050; /* Dark grey for the header */
  box-sizing: border-box;
}

.myanchor {
  color: blue;
}

.auth-component {
  width: 100%;
  max-width: 500px; /* Limit the width of the auth form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  background: white; /* White background for the form */
  margin: 0 auto; /* Centering the div if needed */
}

.auth-component h1 {
  text-align: center;
}

.auth-component input {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-component button {
  width: 100%;
  background-color: #4caf50; /* Green color for buttons */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-component button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.render-rifa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.render-rifa p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size: 25px;
}

.render-rifa h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  width: 60%;
  font-size: 60px;
}

.boletos-grid {
  display: grid;

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  grid-template-columns: repeat(20, 1fr);
  margin: auto;
  width: 80%;
  border: 3px solid black;
  padding: 10px;
  height: 500px;
  overflow: scroll;
}

.numero-boleto {
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
.num-boletos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Makes the button expand to fill the cell */
  height: 100%; /* Makes the button expand to fill the cell */
  padding: 8px 12px; /* Optional: Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Optional: Adds border to buttons */
  background-color: #f7f7f7; /* Optional: Background color for the button */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  overflow: hidden; /* Keeps the content within the button's boundaries */
  white-space: nowrap; /* Ensures the text stays in a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
}

/* Optional: Add hover effect for better UX */
.num-boletos:hover {
  background-color: #e4e4e4;
}

/* Optional: Adjustments when the button is active */
.num-boletos:active {
  background-color: #000000;
}
.num-boletos:disabled {
  background-color: black;
  color: rgb(0, 0, 0);
  cursor: default; /* Change cursor to default to indicate it's not clickable */
}

/* CSS para login */
/* index.css or LoginStyles.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa; /* Light grey background for softer feel */
  color: #333; /* Soft black for text */
}

.login-header {
  margin-bottom: 2rem;
  color: #505050; /* Dark grey for the header */
  align-items: center;
}

.auth-component {
  width: 100%;
  max-width: 520px; /* Limit the width of the auth form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  background: white; /* White background for the form */
}

.auth-component h1 {
  text-align: center;
}

.auth-component input {
  width: 100%;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.supabase-auth-ui_ui-button {
  padding: 50px;
}

/* CSS HERO HOME */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 753px;
  background-image: url("https://cdhhjbucwspsckbwbwua.supabase.co/storage/v1/object/public/images/Hero-Backgroud%20(1).png");
}

.hero h1 {
  font-size: 90px;
  color: white;
  position: absolute;
  left: 250px;
  top: 150px;
}

.hero h2 {
  font-size: 36px;
  color: #343a40;
  position: absolute;
  left: 250px;
  top: 350px;
}

.hero button {
  background: #ffa500;
  border: none;
  border-radius: 25px;
  width: 250px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  left: 250px;
  top: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr.solid {
  border: 1px solid #2e2e2e;
  width: 946px;
  position: absolute;
  left: 250px;
  top: 320px;
  opacity: 60%;
}

/* CSS PARA CARRITO */

/* Styles for the random ticket button */
.random-ticket-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.random-ticket-button:hover {
  background-color: #0056b3;
}

/* Styles for the cart section */
.cart-section {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.cart-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-section ul {
  list-style-type: none;
  padding: 0;
}

.cart-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-section ul li:last-child {
  border-bottom: none;
}

.cart-section ul li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-section ul li button:hover {
  background-color: #c82333;
}

.cart-section p {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

/* Styles for the random ticket button */
.random-ticket-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.random-ticket-button:hover {
  background-color: #0056b3;
}

/* Styles for the random ticket button (Agregar boleto aleatorio) */
.add-random-ticket-button {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-random-ticket-button:hover {
  background-color: #218838;
}
