.header-home {
  background-image: url("https://cdhhjbucwspsckbwbwua.supabase.co/storage/v1/object/public/images/Header-Background.png");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 151px;
  vertical-align: text-top;
}

.nav-home {
  display: flex;
  margin-right: 90px;
}

.nav-home-ul {
  list-style: none;
}

.nav-home-ul li {
  margin-left: 20px; /* Adjust spacing between list items */
  display: inline-block;
  padding: 0px, 20px;
  justify-content: flex-end;
  text-decoration: none;
  vertical-align: middle;
}

.nav-home-item {
  text-decoration: none;
  color: #343a40;
  font-size: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  vertical-align: middle;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: white;
  text-decoration: none;
}

.icon-cart:hover {
  cursor: pointer;
}

.cart-count {
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo-title {
  font-family: Poppins;
  font-size: 65px;
  font-weight: 700;
  color: #343a40;
  position: relative;
  top: -10px;
  left: 10px;
}

/*
.header-home button {
  background: #ffa500;
  border: none;
  border-radius: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  position: absolute;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*/

.account-menu {
  position: absolute;
  top: 50px; /* Adjust this value based on your header's height */
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.account-menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #333;
}

.account-menu ul li {
  padding: 10px;
  cursor: pointer;
  margin-left: 0px;
  color: #333;
}

.account-menu ul li:hover {
  background-color: #f0f0f0;
}

.account-menu button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.account-menu button:hover {
  background-color: #555;
}
