/* Styles for the cart section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

.background {
  background-image: url("https://ivltiudjxnrytalzxfwr.supabase.co/storage/v1/object/public/imagenes-rifas/No-borrar/Patern_20p.png");
  background-repeat: repeat;
}

.content {
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Poppins";
}

.tituloYFecha h1 {
  font-size: 30px;
  color: #000000;
  font-weight: "medium";
  max-width: 15ch;
}

.tituloYFecha h2 {
  font-size: 15px;
  color: #000000;
  font-weight: "medium";
}

.precioYContador {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  margin-top: 10px;
}

.precioYContador p {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
}

.loading-bar-container-render {
  width: 60%;
  text-align: center;
  height: 31px;
}

.loading-bar-render {
  width: 100%;
  background-color: #ffffff00;
  border-radius: 15px;
  overflow: hidden;
  height: 24px;
  position: relative;
  top: 3px;
  left: 3px;
}

.loading-bar-fill-render {
  height: 25px;
  background-color: #4caf50;
  width: 0;
  transition: width 0.3s ease-in-out;
  text-align: center;
  border-radius: 15px;
}

.contanier-img-principal {
  width: 400px;
  height: 295px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contanier-img-principal img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.contanier-counter {
  z-index: 1;
  margin-top: 20px;

  position: relative;
  left: 130px;
  top: 70px;
}
