.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items apart */
  height: 100%; /* Full height of its container */
  width: 230px; /* Fixed width */
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box; /* Include padding in width/height */
  box-shadow: #333 0px 4px 4px;
  overflow: auto;
}

.nav-sidebar-ul {
  list-style-type: none;
  padding: 0;
}

.nav-sidebar-item {
  text-align: center; /* Align text to the center */
  display: block;
  padding: 10px; /* Adjust padding as needed */
  text-decoration: none;
  color: #333; /* Adjust color as needed */
}

.nav-sidebar-item:hover {
  background-color: #f0f0f0; /* Adjust hover background color as needed */
}

.nav-sidebar-img {
  display: block;
  margin: 0 auto; /* Center horizontally */
  border-radius: 50%;
  margin-bottom: 10px;
}

.nav-sidebar {
  flex-grow: 1; /* Allow the nav to grow and take available space */
  overflow-y: auto; /* Add scrolling to nav items if necessary */
}

/* Sidebar bottom link styling */
.sidebar-bottom {
  margin-top: auto; /* Push this element to the bottom */
  padding-top: 20px; /* Optional padding */
  border-top: 1px solid #696969;
}
.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-mobile.open {
  transform: translateX(0);
}

.ham-topbar {
  display: none;
}

@media screen and (max-width: 1138px) {
  .sidebar {
    display: none;
  }

  .ham-topbar {
    display: block;
  }

  .topbar-title {
    font-size: 15px;
  }
}
