label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}

/* Styling for the button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/* Styling for the image gallery */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Styling for each image item */
.image-item {
  background-color: white;

  padding: 10px;

  text-align: center;
}

/* Styling for the checkbox */
.image-item input[type="checkbox"] {
  margin-bottom: 10px;
}

/* Styling for the images */
.image-item img {
  width: auto;
  height: 100px;
  object-fit: cover;
}
