.rifas-grid-archive {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 300px;
  left: 8%;
  position: relative;
  max-width: 90%;
}

.div-grid-archive {
  width: auto;
  position: relative;
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.single-archive {
  background-color: #b0b9c421;
}

.div-grid-archive::before {
  content: "";

  background-image: url(https://ivltiudjxnrytalzxfwr.supabase.co/storage/v1/object/public/imagenes-rifas/No-borrar/pattern_300.png);
  background-repeat: repeat;
  opacity: 0.1; /* Adjust this value to change the opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.divider-title-rifas-activas {
  width: 100%; /* Adjust width as needed */
  border: 0;
  border-top: 1px solid #181818; /* Style the divider */
  margin-left: 80px;
}

.rifas-title {
  width: 80%;
  position: relative;
  left: 0;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rifas-title h2 {
  font-size: 30px;
  margin-left: 80px;
}

.body-socios {
  width: auto;
  margin: auto;
  align-items: center;
  margin-bottom: 50px;
}

.p-faq {
  text-align: justify;
  font-weight: 500;
  font-family: "Poppins";
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tittle-faq {
  text-align: center;
  font-family: "Poppins";
  color: red;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  max-width: 40ch;
  margin: auto;
}
.whatsapp-sticky {
  display: none;
}

@media (max-width: 1020px) {
  .div-grid-archive {
    width: auto;
    position: relative;
    margin: auto;
  }

  .rifas-grid-archive {
    left: 2%;
    gap: 200px;
  }

  .rifas-title {
    width: 80%;
    position: relative;
    left: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .rifas-title h2 {
    font-size: 30px;
    margin-left: 20px;
  }
  .divider-title-rifas-activas {
    width: 80%; /* Adjust width as needed */
    border: 0;
    border-top: 1px solid #181818; /* Style the divider */
    margin-left: 20px;
  }

  .body-socios {
    width: 100vw;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
  }

  .p-faq {
    text-align: justify;
    font-weight: 500;
    font-family: "Poppins";
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tittle-faq {
    text-align: center;
    font-family: "Poppins";
    color: red;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 50px;
    max-width: 40ch;
    margin: auto;
  }
}

@media (max-width: 570px) {
  .div-grid-archive {
    position: relative;
    margin: auto;
  }

  .rifas-grid-archive {
    gap: 100px;
  }

  .rifas-title {
    width: 350px;
    position: relative;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .rifas-title h2 {
    font-size: 30px;
    margin-left: 20px;
  }
  .divider-title-rifas-activas {
    width: 90%; /* Adjust width as needed */
    border: 0;
    border-top: 1px solid #181818; /* Style the divider */
    margin-left: 20px;
  }

  .body-socios {
    width: 100vw;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
  }

  .p-faq {
    text-align: justify;
    font-weight: 500;
    font-family: "Poppins";
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tittle-faq {
    text-align: center;
    font-family: "Poppins";
    color: red;
    margin-top: 50px;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 50px;
    max-width: 350px;
    margin: auto;
  }

  .whatsapp-sticky {
    position: sticky;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;

    justify-content: right;
    align-items: right;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
