.boletos-grid-archive {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 130px;
  margin-left: 30px;
}

.div-grid-archive-socios {
  width: auto;
  position: relative;
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.div-grid-archive-socios::before {
  content: "";

  background-image: url(https://ivltiudjxnrytalzxfwr.supabase.co/storage/v1/object/public/imagenes-rifas/No-borrar/pattern_300.png);
  background-repeat: repeat;
  opacity: 0.1; /* Adjust this value to change the opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.rifas-grid-home {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
}

.socios-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 300px;
  left: 8%;
  position: relative;
  max-width: 90%;
}

.div-grid-home {
  max-width: 1500px;
  margin-left: 150px;
  padding: 20px;
}

.divider-title {
  width: 1500px; /* Adjust width as needed */
  border: 0;
  border-top: 1px solid #181818; /* Style the divider */
  margin: 10px 0; /* Add margin for spacing */
}

.root {
  background: #000;
}
